.search {
  &__form {
    position: relative;

    &--input {
      width: 100%;
      margin: 0px;
      line-height: 30px;
      padding: 2px;
      box-sizing: border-box;
      text-align: center;
    }
  }

  &__helper {
    margin-bottom: 25px;
  }
}

.empty_result {
  width: 100%;
  margin: 0px;
  line-height: 30px;
  padding: 2px;
  box-sizing: border-box;
  text-align: center;
  background: rgba(255, 0, 0, 0.5);
}

.result {
  width: 33%;
  height: 0px;
  float: left;
  overflow: hidden;
  max-height: 50vh;
  transition: all 1s ease-in-out;

  &:not(:empty) {
    height: 50vh;
  }
}

.spinner {
  position: absolute;
  width: 50px;
  height: 20px;
  text-align: center;
  font-size: 10px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: none;

  div {
    background-color: #9e9e9e;
    height: 100%;
    width: 3px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}